.cart-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  width: 80%;
  margin: 10px auto;
  width: 700px;
  
  
}

.cart-page h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #eee;
}

.cart-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.cart-info h4 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.cart-info p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.remove-btn {
  padding: 6px 10px;
  background: #7e5ec0;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  align-items: end;
}

.remove-btn:hover {
  background: #6740a4;
}



.clear-cart-btn {
  background: #9691de;
  color: white;
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 10px;
  height: 40px;
  width:150px;
  font-weight: 500;
  font-size: 15px;
}

.clear-cart-btn:hover {
  background: #201d3c;
}

